<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Nearby Buses</h1>

    <!-- left box -->
    <div class="col-sm-6">
      <h3 class="text-muted">Your current location</h3>
      <p class="text-muted">
      <%= @location.full_street_address %> <small><%= link_to fa_icon('pencil',
      text: 'Edit'), edit_location_path(@location), class: 'btn btn-xs btn-info' %>
      </small>
      </p>

      <div id="map-canvas" >

      </div>
    </div>
    <!--right box  -->
    <div class="col-sm-6">
      <h3>The closes buses are...</h3>

      <% @buses.each do |bus| %>
      <div class="well">
        <p>
        <strong>Route:</strong>  <%= bus["ROUTE"] %> <%= bus["DIRECTION"] %>
        <strong>Bus Number: </strong><%= bus["VEHICLE"] %>
        <strong>Next Stop: </strong><%= bus["TIMEPOINT"] %>
        <strong>Status: </strong>
        <%= bus["ADHERENCE"].to_i.abs %>

        </p>
      </div>

      <% end %>
      <% if @buses.empty? %>
      <p>No buses in range</p>
      <% end %>

    </div>
  </div>

</div>




<!-- tells rails where the maps API is  -->
<script type="text/javascript" src = "https://maps.googleapis.com/maps/
api/js?key=<%=ENV['google_maps_api_key']%>">

</script>
<script type="text/javascript">
  // This is the function that make the map
  function initialize() {
    // The user's location
    var myLocation = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);

    // Options/Settings for the map
    var mapOptions = {
      center: myLocation,
      zoom: 15
    };

    // The map
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    // The little man picture for our user's icon
    var personIcon = "<%= image_path 'man_icon.png' %>";

    // User's Location marker
    var myMarker = new google.maps.Marker({
      position: myLocation,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'My Location',
      icon: personIcon
    });

    // *** The buses - Where are they??? ***

    // The list of all the nearby buses
    var nearbyBuses = <%= raw @buses.to_json %>;

    // Iterate through the buses an put each one on the map with a little marker.
    nearbyBuses.forEach(function (bus){
      // Make a Google Maps location variable
      var busLocation = new google.maps.LatLng(bus['LATITUDE'], bus['LONGITUDE']);

      // Make a little marker for the bus
      var busMarker = new google.maps.Marker({
        position: busLocation,
        map: map,
        animation: google.maps.Animation.DROP,
        title: bus['VEHICLE']
      });

      // The content for the info window
      var infoWindowContent =
        '<div id="content">' +
          '<h2>Bus ' + bus['VEHICLE'] + ' ' + bus['DIRECTION'] + '</h2>' +
          '<div id="bodyContent">' +
            '<p>Next Stop: ' + bus['TIMEPOINT'] + '</p>' +
          '</div>' +
        '</div>';

      // The info window
      var infoWindow = new google.maps.InfoWindow({
        content: infoWindowContent
      });

      // Set up a listener on the marker to pop open the info window when you click it
      google.maps.event.addListener(busMarker, 'click', function() {
        infoWindow.open(map, busMarker);
      });

    });
  }

  // actually runs the function the creates the map
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
